<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mm2.browary" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DodajPiwo"
            android:label="@string/title_activity_dodaj_piwo" >
        </activity>
        <activity
            android:name=".SprawdzPiwa"
            android:label="@string/title_activity_sprawdz_piwa" >
        </activity>
        <activity
            android:name=".PrzegladajPiwa"
            android:label="@string/title_activity_przegladaj_piwa" >
        </activity>
        <activity
            android:name=".DodajOpis"
            android:label="@string/title_activity_dodaj_opis" >
        </activity>
        <activity
            android:name=".DodajZdjecie"
            android:label="@string/title_activity_dodaj_zdjecie" >
        </activity>
        <activity
            android:name=".OcenPiwo"
            android:label="@string/title_activity_ocen_piwo" >
        </activity>
        <activity
            android:name=".ZeskanujKod"
            android:label="@string/title_activity_zeskanuj_kod" >
        </activity>
        <activity
            android:name=".SzukajPiwo"
            android:label="@string/title_activity_szukaj_piwo" >
        </activity>
    </application>

</manifest>
